.container{
  width:400px;
  margin:0 auto;
  padding: 10;
  min-height: 100%;
  position: center;
  background-color: #E6EAED;
}
.link{
  background-color: #7E8282;
  display: block;
  padding: 5px;
  font-size: 10px;
  color: #fff;
  text-align: right;
}
h1{
  font-size: 2em;
  font-family: times;
  color: #0680CF;
  margin:0;
  padding: 10px;
  position: center;
}
.style_image{
  float: left;
  padding: 10px;
}
table{
  background-color:#7E8282;
  width: 400px;
  clear: both;
}
table th{
  color: #fff;
}
.tr_link{
  
}
